<ion-header>
  <ion-toolbar>
    <ion-title>Git</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon slot="start"  name="logo-github"></ion-icon>
    <ion-label>Git Backend: <a href="{{urlGitBack}}" target="_blank()">{{ urlGitBack }}</a></ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start"  name="logo-github"></ion-icon>
    <ion-label>Git Front: <a href="{{urlGitFront}}" target="_blank()">{{ urlGitFront }}</a></ion-label>
  </ion-item>
</ion-content>
